{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "setGallerySize": {% if section.settings.show_fullscreen %}false{% else %}true{% endif %},
  "adaptiveHeight": {% if section.settings.show_fullscreen %}false{% else %}true{% endif %},
  "wrapAround": true,
  "dragThreshold": 15,
  "pauseAutoPlayOnHover": false,
  "autoPlay": {% if section.settings.autoplay %}{{ section.settings.cycle_speed | times: 1000 }}{% else %}false{% endif %},
  "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<style>
  
</style>
<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow">
  <div class="Slideshow {% if section.settings.show_fullscreen %}Slideshow--fullscreen{% endif %}">
    <div class="Slideshow__Carousel {% if section.settings.show_arrow %}Slideshow__Carousel--withScrollButton{% endif %} Carousel Carousel--fadeIn {% if section.settings.show_fullscreen %}Carousel--fixed{% endif %} Carousel--insideDots"
         data-flickity-config='{{ flickity_options }}'>
      {%- for block in section.blocks -%}
        {%- capture slide_content -%}
          {%- comment -%}
            Implementation note: this is an art driven image selection so it would have been better to be able to use the "picture" tag instead. However,
            as the mobile and desktop image could have different aspect ratio, the image allocation space would not have work properly without explicitly
            distinguishing the two images, hence the two containers.
          {%- endcomment -%}

          {%- assign mobile_image = block.settings.mobile_image | default: block.settings.image -%}
      

          {%- if mobile_image -%}
            <div class="Slideshow__ImageContainer {% if block.settings.apply_overlay %}Image--contrast{% endif %} {% unless section.settings.show_fullscreen %}AspectRatio{% endunless %} hidden-tablet-and-up"
                 style="{% unless section.settings.show_fullscreen %}--aspect-ratio: {{ mobile_image.aspect_ratio }};{% endunless %} background-image: url({{ mobile_image | img_url: '1x1', format: 'jpg' }})">
                {%- if block.id == '48da20d4-f35c-4598-be5f-320c6f4845e5' -%}
            		<img class="fb_MDL_imgM" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/20221141811m.png?v=1642155115" alt="">
<!--               		<h2 class="fb_MDL_banner_timeM">Jan. 14 2022 - Jan. 20 2022</h2> -->
            	{%- endif -%}
              	<img class="Slideshow__Image Image--lazyLoad"
                     src="{{ mobile_image | img_url: '1x1' }}"
                     data-src="{{ mobile_image | img_url: 'x800' }}"
                     alt="{{ mobile_image.alt | escape }}">

                <noscript>
                  <img class="Slideshow__Image" src="{{ mobile_image | img_url: 'x800' }}" alt="{{ mobile_image.alt | escape }}">
                </noscript>
            </div>
          {%- endif -%}

          {%- if block.settings.image -%}
            <div class="Slideshow__ImageContainer {% if block.settings.apply_overlay %}Image--contrast{% endif %} {% unless section.settings.show_fullscreen %}AspectRatio AspectRatio--withFallback{% endunless %} hidden-phone"
                 style="{% unless section.settings.show_fullscreen %}padding-bottom: {{ 100.0 | divided_by: block.settings.image.aspect_ratio }}%; --aspect-ratio: {{ block.settings.image.aspect_ratio }};{% endunless %} background-image: url({{ block.settings.image | img_url: '1x1', format: 'jpg' }})">
              {% assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
				<!--       首页DML       -->
            {%- if block.id == '48da20d4-f35c-4598-be5f-320c6f4845e5' -%}
            	<img class="fb_MDL_img" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/20221141811.png?v=1642155115" alt="">
<!--               	<h2 class="fb_MDL_banner_time">Jan. 14 2022 - Jan. 20 2022</h2> -->
            {%- endif -%}
              <img class="Slideshow__Image Image--lazyLoad hide-no-js"
                   data-src="{{ image_url }}"
                   data-optimumx="1.2"
                   data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                   data-sizes="auto"
                   alt="{{ block.settings.image.alt | escape }}">

              <noscript>
                <img class="Slideshow__Image" src="{{ block.settings.image | img_url: '1000x' }}" alt="{{ block.settings.image.alt | escape }}">
              </noscript>
            </div>
          {%- else -%}
            <div class="Slideshow__ImageContainer {% if block.settings.apply_overlay %}Image--contrast{% endif %} {% if section.settings.show_fullscreen %}PlaceholderBackground{% endif %} PlaceholderSvg--dark">
              {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
              {{ placeholder | placeholder_svg_tag: 'Slideshow__Image PlaceholderBackground__Svg' }}
            </div>
          {%- endif -%}
			 <!--       bike页xbike自定义代码       -->
            {%- if block.id == '4da8fe57-2161-470a-8113-6e9054beabaf' -%}
              <div class="bike-zdy xbike-page">
                <div>
                <h3 class="xbike-title">xbike:</h3>
                <div class="xbike-jj">Gamified Studio Cycling + Cross-Training Hub at Home.</div>
                  <!--         黑五活动 暂时隐藏           -->
                <div class="introduce">as low as ${{ settings.fb_xbike_36installmentsPrice }}/MO<sup>1</sup> at 0% APR.</div>
                <div class="xbike-hr"></div>

                  <div class="xbike-price">
                  <div class="price">
                    <div class="xbike-pre">New Launch Deal</div>
                    <div class="price-box">
                      <div>${{ settings.fb_xbike_discountPrice }}</div>
                      <div class="discount">
                        <span class="jianmian">${{ settings.fb_xbike_discountAmount }} Off</span>
                        <span class="original-price">${{ settings.fb_xbike_originalPrice }}</span>
                      </div>
                      <span id="fb_xbike_id" class="fb_xbike_mes">{{ settings.fb_xbike_id }}</span>
      				  <span id="fb_xbike_price" class="fb_xbike_mes">{{ settings.fb_xbike_discountPrice }}</span>
                      <span id="fb_xbike_category" class="fb_xbike_mes">{{ settings.fb_xbike_category }}</span>
                    </div>
                  </div>
                  <div class="by-stages-custom" style="">
                    <div>PAY MONTHLY</div>
                    ${{ settings.fb_xbike_36installmentsPrice }}/MO<sup>1</sup>
                  </div>
                </div>
                
              
                {%- if block.settings.button_1_text != blank or block.settings.button_2_text != blank -%}
                  <div class="SectionHeader__ButtonWrapper">
                    <div class="ButtonGroup ButtonGroup--spacingSmall {% if has_two_buttons %}ButtonGroup--sameSize{% endif %} zdy-ButtonGroup">
                      {%- if block.settings.button_1_text != blank -%}
                        <a href="{{ block.settings.button_1_link }}" id="gtm-bikePaymentPlan-xBikeButton-{{ block.settings.button_1_text | escape }}" class="ButtonGroup__Item Button">{{ block.settings.button_1_text | escape }}</a>
                      {%- endif -%}

                      {%- if block.settings.button_2_text != blank -%}
                        <a href="{{ block.settings.button_2_link }}" class="ButtonGroup__Item Button">{{ block.settings.button_2_text | escape }}</a>
                      {%- endif -%}
                      <br>
                    </div>
                     <div class="bike-list">
                       <div><img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/icon-01.png?v=1629449561"> Free US Shipping</div>
                       <div><img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/icon-03.png?v=1629449561">30-Day Return Policy</div>
                       <div><img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/icon-02.png?v=1629449561">Customer Service</div>
                       <div><img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/icon-04.png?v=1629449561">Full Warranty</div>
                    </div>
                  </div>
                {%- endif -%}
                </div>
            	</div>
            {%- endif -%}
      		 <!--       home页lit-bike自定义代码       -->
            {%- if block.id == '1642511337cc7f4611-0' -%}
              <div class="bike-zdy lit-bike-page" style="background: transparent;">
                <div>
                <h3 class="xbike-title" style="font-size: 20px;">xbike:</h3>
<!--                 <div class="xbike-jj">Gamified Studio Cycling + Cross-Training Hub at Home.</div> -->
                  <!--         黑五活动 暂时隐藏           -->
<!--                 <div class="introduce">as low as ${{ settings.fb_xbike_36installmentsPrice }}/MO<sup>1</sup> at 0% APR.</div> -->
<!--                 <div class="xbike-hr"></div> -->

                  <div class="xbike-price">
                  <div class="price">
                    <div class="xbike-pre">Exclusive Deal</div>
                    <div class="price-box">
                      <div>${{ settings.fb_xbike_discountPrice }}</div>
                      <div class="discount">
                        <span class="jianmian">${{ settings.fb_xbike_discountAmount }} Off</span>
                        <span class="original-price">${{ settings.fb_xbike_originalPrice }}</span>
                      </div>
                      <span id="fb_xbike_id" class="fb_xbike_mes">{{ settings.fb_xbike_id }}</span>
      				  <span id="fb_xbike_price" class="fb_xbike_mes">{{ settings.fb_xbike_discountPrice }}</span>
                      <span id="fb_xbike_category" class="fb_xbike_mes">{{ settings.fb_xbike_category }}</span>
                    </div>
                  </div>
                  <div class="by-stages-custom" style="">
                    <div>PAY MONTHLY</div>
                    ${{ settings.fb_xbike_36installmentsPrice }}/MO<sup>1</sup>
                  </div>
                </div>
                <div class="introduce">as low as ${{ settings.fb_xbike_36installmentsPrice }}/MO<sup>1</sup> at 0% APR.</div>
                
              
                {%- if block.settings.button_1_text != blank or block.settings.button_2_text != blank -%}
                  <div class="SectionHeader__ButtonWrapper">
                    <div class="ButtonGroup ButtonGroup--spacingSmall {% if has_two_buttons %}ButtonGroup--sameSize{% endif %} zdy-ButtonGroup">
                      {%- if block.settings.button_1_text != blank -%}
                        <a href="{{ block.settings.button_1_link }}" id="gtm-bikePaymentPlan-xBikeButton-{{ block.settings.button_1_text | escape }}" class="ButtonGroup__Item Button">{{ block.settings.button_1_text | escape }}</a>
                      {%- endif -%}

                      {%- if block.settings.button_2_text != blank -%}
                        <a href="{{ block.settings.button_2_link }}" class="ButtonGroup__Item Button">{{ block.settings.button_2_text | escape }}</a>
                      {%- endif -%}
                      <br>
                    </div>
<!--                      <div class="bike-list">
                       <div><img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/icon-01.png?v=1629449561"> Free US Shipping</div>
                       <div><img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/icon-03.png?v=1629449561">30-Day Return Policy</div>
                       <div><img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/icon-02.png?v=1629449561">Customer Service</div>
                       <div><img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/icon-04.png?v=1629449561">Full Warranty</div>
                    </div> -->
                  </div>
                {%- endif -%}
                </div>
            	</div>
            {%- endif -%}
      <!--       home页lit-bike-klarna自定义代码       -->
            {%- if block.id == '162911085435ed884b-0' -%}
              <div class="bike-zdy lit-bike-page" style="background: transparent;">
                <div>
                <h3 class="xbike-title" style="font-size: 20px;">Lit Bike Klarna Limited Edition</h3>

                  <div class="xbike-price">
                  <div class="price">
                    <div class="xbike-pre">Limited Deal</div>
                    <div class="price-box">
                      <div>${{ settings.fb_lit-bike-klarna_discountPrice }}</div>
                      <div class="discount">
                        <span class="jianmian">${{ settings.fb_lit-bike-klarna_discountAmount }} Off</span>
                        <span class="original-price">${{ settings.fb_lit-bike-klarna_originalPrice }}</span>
                      </div>
                      <span id="fb_xbike_id" class="fb_xbike_mes">{{ settings.fb_lit-bike-klarna_id }}</span>
      				  <span id="fb_xbike_price" class="fb_xbike_mes">{{ settings.fb_lit-bike-klarna_discountPrice }}</span>
                      <span id="fb_xbike_category" class="fb_xbike_mes">{{ settings.fb_lit-bike-klarna_category }}</span>
                    </div>
                  </div>
                  <div class="by-stages-custom" style="">
                    <div>PAY MONTHLY</div>
                    ${{ settings.fb_lit-bike-klarna_36installmentsPrice }}/MO<sup>1</sup>
                  </div>
                </div>
                <div class="introduce">as low as ${{ settings.fb_lit-bike-klarna_36installmentsPrice }}/MO<sup>1</sup> at 0% APR.</div>
                
                {%- if block.settings.button_1_text != blank or block.settings.button_2_text != blank -%}
                  <div class="SectionHeader__ButtonWrapper">
                    <div class="ButtonGroup ButtonGroup--spacingSmall {% if has_two_buttons %}ButtonGroup--sameSize{% endif %} zdy-ButtonGroup">
                      {%- if block.settings.button_1_text != blank -%}
                        <a href="{{ block.settings.button_1_link }}" id="gtm-bikePaymentPlan-xBikeButton-{{ block.settings.button_1_text | escape }}" class="ButtonGroup__Item Button">{{ block.settings.button_1_text | escape }}</a>
                      {%- endif -%}

                      {%- if block.settings.button_2_text != blank -%}
                        <a href="{{ block.settings.button_2_link }}" class="ButtonGroup__Item Button">{{ block.settings.button_2_text | escape }}</a>
                      {%- endif -%}
                      <br>
                    </div>
                  </div>                 
                {%- endif -%}
                </div>
            	</div>
            {%- endif -%}
          {%- capture slideshow_content -%}
            {%- if block.settings.subheading != blank -%}
      		{%- if block.id == '3a39cc42-cb34-46d1-8721-36316f6ef1ad' -%}
      			<img class="fb_lit-bike_banner119_img" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/20221211622.png?v=1642753428" alt="">
      		{%- endif -%}
      		{%- if block.id == '16291170491e235167-0' -%}
      			<h3 class="SectionHeader__SubHeading Heading u-h6">Buy the xbike now for ${{ settings.fb_xbike_discountPrice }}(<span style="text-decoration:line-through;">${{ settings.fb_xbike_originalPrice }}</span>) and save even more with 45-day free membership.</h3>
      		{%- else -%}
              {%- if block.id == '16291157549cb957f3-0' -%}
      			<h3 class="SectionHeader__SubHeading Heading u-h6">Sign up now to get exclusive offers!</h3>
      		{%- else -%}
              {%- if block.id == '94d71825-7281-484b-a802-e82b5d81864d' -%}
      			<h3 class="SectionHeader__SubHeading Heading u-h6">Great deal for ${{ settings.fb_xbike_discountAmount1 }} OFF! Get xbike from ${{ settings.fb_xbike_36installmentsPrice }}/mo<sup>1</sup></h3>
      		{%- else -%}
              {%- if block.id == 'slide-0' -%}
      			<h3 class="SectionHeader__SubHeading Heading u-h6">Great deal for ${{ settings.fb_xbike_discountAmount1 }} OFF! Get xbike from ${{ settings.fb_xbike_36installmentsPrice }}/mo<sup>1</sup></h3>
      		{%- else -%}
              {%- if block.id == '0209498b-2665-47c4-a36b-8a07e7beeb9f' -%}
      			<h3 class="SectionHeader__SubHeading Heading u-h6 fb_Christmas27_color fb_Christmas27_margin1 fb_Christmas27_fontSize1">LAST CHANCE TO SHOP HOLIDAY GIFTS</h3>
      		{%- else -%}
              {%- if block.id == '162911085435ed884b-0' -%}
      			<h3 class="SectionHeader__SubHeading Heading u-h6">Get your bikes as low as ${{ settings.fb_xbike_36installmentsPrice }} at 0% APR<sup>1</sup></h3>
      		{%- else -%}
              {%- if block.id == 'slide-1' -%}
      			<h3 class="SectionHeader__SubHeading Heading u-h6 fb_Christmas_banner_h6">SWEAT TOWARD YOUR GOALS THIS CHRISTMAS</h3>
      		{%- else -%}
              <h3 class="SectionHeader__SubHeading Heading u-h6">{{ block.settings.subheading | escape }}</h3>
      		{%- endif -%}
      		{%- endif -%}
      		{%- endif -%}
      		{%- endif -%}
      		{%- endif -%}
      		{%- endif -%}
      		{%- endif -%}
            {%- endif -%}

            {%- if block.settings.title != blank -%}
              
      		{%- if block.id == '443e2825-4f0d-4d08-a04e-962b8996f27f' -%}
      			<h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1">Donate $5 to save <br/> children’s lives!</h2>
      			<h3 class="SectionHeader__SubHeading Heading u-h6">Big chance to win <b>a free xbike**</b><br />(${{ settings.fb_xbike_originalPrice }} value per bike, up to 10)</h3>
      		{%- else -%}
                {%- if block.id == '0209498b-2665-47c4-a36b-8a07e7beeb9f' -%}
      			<h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1 fb_Christmas27_colorTitle" style="">$650 OFF</h2>
      			<h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1 fb_Christmas27_colorTitle" style="">JUST $849!</h2>
      			<h3 class="SectionHeader__SubHeading Heading u-h6 fb_Christmas27_fontSize fb_Christmas27_color fb_Christmas27_fontSize2 fb_Christmas27_margin2" style="font-weight: bold;margin-bottom: 0;">Free Shipping. In stock. Ship now (US ONLY*)</h3>
      <h3 class="SectionHeader__SubHeading Heading u-h6 fb_Christmas27_fontSize fb_Christmas27_colorSub fb_Christmas27_fontSize1 fb_Christmas27_margin3">New Year with a new opportunity to improve yourself.</h3>
      		{%- else -%}
                {%- if block.id == 'slide-1' -%}
      			<h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1 fb_Christmas_banner_h1">$650 OFF</h2>
      			<h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1 fb_Christmas_banner_h1">JUST $849!</h2>
      			<h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1 fb_Christmas_banner_h1_sub">Free shipping (US ONLY*)</h2>
      			<img class="fb_Christmas_banner_img" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/christmas-banner-icon.png?v=1639388457" alt />
      		{%- else -%}
                {%- if block.id == '48da20d4-f35c-4598-be5f-320c6f4845e5' -%}
      <h3 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h6 fb_MDL_banner_sub">MLK Special<span>:</span> <br class="fb_MDL_banner_br" />Make everyone's dreams come true TODAY</h3>
      			<h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1 fb_MDL_banner">$650 OFF<span>,</span> <br class="fb_MDL_banner_br" />NOW ONLY $849</h2>
      		{%- else -%}
                {%- if block.id == '164238544392a7ddbe-0' -%}
      				<div class="fb_lit-bike_slideshow_maskM">
                      <div class="fb_lit-bike_slideshow_1_1">Introducing freebeat Lit Bike: </div>
                      <div class="fb_lit-bike_slideshow_1_2">The future of<br />indoor cycling<br />just got LIT!</div>
                      <div class="fb_lit-bike_slideshow_1_3"><span>$1299</span> <strong>$1,799</strong></div>
                      <div class="fb_lit-bike_slideshow_1_4">$500 OFF</div>
      				</div>
      		{%- else -%}
                {%- if block.id == 'd5422c8f-6f62-4492-94c6-8d33ed4862cd' -%}
      				<div class="fb_lit-bike-klarna_slideshow_maskM">
                    <div class="fb_lit-bike-klarna_slideshow_1_1">
                        <div>
                            <img class="fb_lit-bike-klarna_slideshow_1_1_img2" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/202212515402.png?v=1643115167" alt="">
                        </div>
                        <div class="fb_lit-bike-klarna_slideshow_1_1_x">X</div>
                        <div>
                            <img class="fb_lit-bike-klarna_slideshow_1_1_img1" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/20221271642.png?v=1643273713" alt="">
                        </div>
                    </div>
                      <div class="fb_lit-bike-klarna_slideshow_1_2">Limited Edition<br />Pink Is For ALL!</div>
                      <div class="fb_lit-bike-klarna_slideshow_1_3">
                        <div class="fb_lit-bike-klarna_slideshow_1_3_1">$1,499</div>
                        <div class="fb_lit-bike-klarna_slideshow_1_3_2"><span>$1,999</span> (limited to 100 bikes)</div>
                      </div>
                      <div class="fb_lit-bike-klarna_slideshow_1_4">$500 OFF</div>
      				</div>
      		{%- else -%}
                <h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1">{{ block.settings.title | escape }}</h2>
      		{%- endif -%}
      		{%- endif -%}
      		{%- endif -%}
      		{%- endif -%}
      		{%- endif -%}
      		{%- endif -%}
            {%- endif -%}

            {%- if block.settings.button_1_text != blank and block.settings.button_2_text != blank -%}
              {%- assign has_two_buttons = true -%}
            {%- else -%}
              {%- assign has_two_buttons = false -%}
            {%- endif -%}

            {%- if block.settings.button_1_text != blank or block.settings.button_2_text != blank -%}
              <div class="SectionHeader__ButtonWrapper" {%- if block.id == '0209498b-2665-47c4-a36b-8a07e7beeb9f' -%}style="margin-top: 4px !important;"{% endif %} {%- if block.id == '1642511337cc7f4611-0' or block.id == '16291107126de229c8-0' or block.id == '162911085435ed884b-0' -%}style="display: none !important;"{% endif %}>
                <div class="ButtonGroup ButtonGroup--spacingSmall {% if has_two_buttons %}ButtonGroup--sameSize{% endif %} {% if block.id == 'slide-1' or block.id == '48da20d4-f35c-4598-be5f-320c6f4845e5' %}fb_Christmas_banner_button_flex{% endif %} {% if block.id == '164238544392a7ddbe-0' or block.id == 'd5422c8f-6f62-4492-94c6-8d33ed4862cd' %}fb_lit-bike_ButtonGroupM{% endif %}">
                  {%- if block.settings.button_1_text != blank -%}
                  {%- if block.id == '0209498b-2665-47c4-a36b-8a07e7beeb9f' -%}
                  <a href="{{ block.settings.button_1_link }}" id="gtm-homeSlideshow-xBikeButton-{{ block.settings.button_1_text | escape }}" class="fb_Christmas27_a"><img class="fb_Christmas27_banner_button_img" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/202112271047.png?v=1640573288" alt=""></a>
                  {%- else -%}
                    {%- if block.id == 'slide-1' -%}
                  <a href="{{ block.settings.button_1_link }}" id="gtm-homeSlideshow-xBikeButton-{{ block.settings.button_1_text | escape }}" class="ButtonGroup__Item Button fb_Christmas_banner_button" style="padding: 12px 50px;font-size: 26px !important;">{{ block.settings.button_1_text | escape }}</a>
                  {%- else -%}
                    {%- if block.id == '48da20d4-f35c-4598-be5f-320c6f4845e5' -%}
                  <a href="{{ block.settings.button_1_link }}" id="gtm-homeSlideshow-xBikeButton-{{ block.settings.button_1_text | escape }}" class="ButtonGroup__Item Button" style="padding: 16px 80px;">{{ block.settings.button_1_text | escape }}</a>
                  {%- else -%}
                  {%- if block.id == '164238544392a7ddbe-0' -%}
                  <a href="{{ block.settings.button_1_link }}" id="gtm-homeSlideshow-xBikeButton-{{ block.settings.button_1_text | escape }}" class="ButtonGroup__Item Button">{{ block.settings.button_1_text | escape }}</a>
                  {%- else -%}
                    <a href="{{ block.settings.button_1_link }}" id="gtm-homeSlideshow-xBikeButton-{{ block.settings.button_1_text | escape }}" class="ButtonGroup__Item Button">{{ block.settings.button_1_text | escape }}</a>
                  {%- endif -%}
                  {%- endif -%}
                  {%- endif -%}
                  {%- endif -%}
                  {%- endif -%}

                  {%- if block.settings.button_2_text != blank -%}
                  	{%- if block.id == '164238544392a7ddbe-0' -%}
                  <a href="#" id="gtm-homeSlideshow-xBikeButton-{{ block.settings.button_1_text | escape }}" class="ButtonGroup__Item Button ButtonGroup__Items">{{ block.settings.button_2_text | escape }}</a>
                  {%- else -%}
                    {%- if block.id == 'd5422c8f-6f62-4492-94c6-8d33ed4862cd' -%}
                  <a href="#" id="gtm-homeSlideshow-xBikeButton-{{ block.settings.button_1_text | escape }}" class="ButtonGroup__Item Button ButtonGroup__Item_KlarnaLimitedEdition">{{ block.settings.button_2_text | escape }}</a>
                  {%- else -%}
                    <a href="{{ block.settings.button_2_link }}" id="gtm-homeSlideshow-xBikeButton-{{ block.settings.button_2_text | escape }}" class="ButtonGroup__Item Button">{{ block.settings.button_2_text | escape }}</a>
                  {%- endif -%}
                  {%- endif -%}
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
      		{%- if block.id == '0209498b-2665-47c4-a36b-8a07e7beeb9f' -%}
      			<h3 class="SectionHeader__SubHeading Heading u-h8 fb_Christmas27_colorSub fb_Christmas27_date_margin" style="font-weight: normal;">Dec. 27 2021 - Jan. 10 2022</h3>
      		{%- endif -%}
      		{%- if block.id == 'slide-1' -%}
      			<h3 class="SectionHeader__SubHeading u-h8 fb_Christmas_banner_color" style="margin: 10px 0 0;font-size: 12px;">Dec. 13 - Dec. 31 2021</h3>
      		{%- endif -%}
          {%- endcapture -%}

          {%- if slideshow_content != blank -%}
            <div class="Slideshow__Content Slideshow__Content--{{ block.settings.content_position }} {% if block.id == 'slide-1' or block.id == '0209498b-2665-47c4-a36b-8a07e7beeb9f' %}fb_Christmas_banner_Slideshow__Content{% endif %} {% if block.id == '48da20d4-f35c-4598-be5f-320c6f4845e5' or block.id == '3a39cc42-cb34-46d1-8721-36316f6ef1ad' %}fb_MDL_banner_Slideshow__Content{% endif %} {% if block.id == 'slide-1' or block.id == '0209498b-2665-47c4-a36b-8a07e7beeb9f' %}fb_Christmas_banner_Slideshow__Content{% endif %} {% if block.id == 'd5422c8f-6f62-4492-94c6-8d33ed4862cd' %}fb_lit-bike-klarna_banner_Slideshow__Content{% endif %}">
              <header class="SectionHeader {% if block.id == 'slide-1' or block.id == '0209498b-2665-47c4-a36b-8a07e7beeb9f' or block.id == '48da20d4-f35c-4598-be5f-320c6f4845e5' or block.id == '3a39cc42-cb34-46d1-8721-36316f6ef1ad' %}fb_Slideshow__Content_SectionHeader{% endif %}">
                {{ slideshow_content }}
              </header>
            </div>
          {%- endif -%}
        {%- endcapture -%}

        {%- comment -%}This code allows to cover a common use case where merchant would like to have a clickable image{%- endcomment -%}

        {%- if block.settings.button_1_text == blank and block.settings.button_1_link != blank -%}
      	<a href="{{ block.settings.button_1_link }}" id="Slide{{ block.id }}" class="Slideshow__Slide Carousel__Cell {% if forloop.first %}is-selected{% endif %}" {% if forloop.first %}style="visibility: visible"{% endif %} data-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
             <!--      bike头部插入视频        -->
            {%- if block.id == '16291170491e235167-0' -%}
            	<video class="bg-video pc-video" style="position: absolute;top:0;left:0;width:100%;height:100%;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/bike_video.mp4?v=1629447519"></video>
<!--             	<video class="bg-video web-video" style="position: absolute;top:0;left:0;width:100%;height:100%;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/bike_video_web.mp4?v=1629783970"></video> -->
          	{%- endif -%}
          {{- slide_content -}}
          </a>
        {%- else -%}
          <div id="Slide{{ block.id }}" class="Slideshow__Slide Carousel__Cell {% if forloop.first %}is-selected{% endif %}" {% if forloop.first %}style="visibility: visible"{% endif %} data-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
           
<!--      自定义代码 start       -->
			<!--      首页banner插入视频        -->
            {%- if block.id == 'slide-0' -%}
            	<video class="bg-video pc-video" style="position: absolute;top:0;" x-webkit-airplay="allow" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/home_video01_pc.mp4?v=1629446793"></video>
<!--             	<video class="bg-video web-video" style="position: absolute;top:0;left:0;width:100%;height:100%;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/home_video01_web.mp4?v=1629783970"></video> -->
            {%- endif -%}
            {%- if block.id == '94d71825-7281-484b-a802-e82b5d81864d' -%}
            	<video class="bg-video pc-video" style="position: absolute;top:0;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/heme_class_video.mp4?v=1629447517"></video>
<!--             	<video class="bg-video web-video" style="position: absolute;top:0;left:0;width:100%;height:100%;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/home_class_video_web.mp4?v=1629783970"></video> -->
            {%- endif -%}
           <!--      bike头部插入视频        -->
            {%- if block.id == '16291170491e235167-0' -%}
            	<h1 style="display: none">freebeat xbike indoor cycling bike</h1>
            	<video class="bg-video pc-video" style="position: absolute;top:0;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/bike_video.mp4?v=1629447519"></video>
<!--             	<video class="bg-video web-video" style="position: absolute;top:0;left:0;width:100%;height:100%;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/bike_video_web.mp4?v=1629783970"></video> -->
            {%- endif -%}
			<!--       多人单车混剪       -->
            {%- if block.id == '16297916732dcf3e99-0' -%}
            	<video class="bg-video pc-video" style="position: absolute;top:0;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/1800X800.mp4?v=1630405176"></video>
            {%- endif -%}
             <!--      classes插入视频        -->
            {%- if block.id == '16291157549cb957f3-0' -%}
            	<h1 style="display: none">indoor cycling classes with rockstar instructors performance tracking all-access membership</h1>
            	<video class="bg-video pc-video" style="position: absolute;top:0;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/heme_class_video.mp4?v=1629447517"></video>
<!--             	<video class="bg-video web-video" style="position: absolute;top:0;left:0;width:100%;height:100%;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/home_class_video_web.mp4?v=1629783970"></video> -->
            {%- endif -%}
            <!--      about us插入视频        -->
            {%- if block.id == '162919038160615c70-0' -%}
            	<h1 style="display: none">freebeat brand philosophy honesty excitment sophistication</h1>
            	<video class="bg-video pc-video" style="position: absolute;top:0;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/about_us_pc.mp4?v=1629446793"></video>
<!--             	<video class="bg-video web-video" style="position: absolute;top:0;left:0;width:100%;height:100%;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/about_us_web.mp4?v=1629783970"></video> -->
            {%- endif -%}
            <!--      黑车banner视频        -->
            {%- if block.id == '164238544392a7ddbe-0' -%}
            	<video class="bg-video pc-video" style="position: absolute;top:0;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/lit-bike_banner.mp4?v=1642764979"></video>
<!--             	<video class="bg-video web-video" style="position: absolute;top:0;left:0;width:100%;height:100%;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/about_us_web.mp4?v=1629783970"></video> -->
            {%- endif -%}
            <!--      粉车banner视频        -->
            {%- if block.id == 'd5422c8f-6f62-4492-94c6-8d33ed4862cd' -%}
            	<video class="bg-video pc-video" style="position: absolute;top:0;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://static.freebeatfit.com/freebeat_klarnaBikeImg/KlarnaLimitedEditionDance.mp4"></video>
<!--             	<video class="bg-video web-video" style="position: absolute;top:0;left:0;width:100%;height:100%;z-index:1;" webkit-playsinline="true" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/about_us_web.mp4?v=1629783970"></video> -->
            {%- endif -%}
            
			<!--      首页xbike自定义代码       -->
            {%- if block.id == '16291107126de229c8-0' -%}
              <div class="bike-zdy" style="z-index:3;background: transparent;">
                <div>
                <h3 class="xbike-title">Lit Bike</h3>

                <div class="xbike-price">
                  <div class="price">
                    <div class="xbike-pre">Lighting Deal</div>

                    <div class="price-box">
                      <div>${{ settings.fb_lit-bike_discountPrice }}</div>
                      <div class="discount">
                        <span class="jianmian">${{ settings.fb_lit-bike_discountAmount }} Off</span>
                        <span class="original-price">${{ settings.fb_lit-bike_originalPrice }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="by-stages-custom" style="">
                    <div>PAY MONTHLY</div>
                    ${{ settings.fb_lit-bike_36installmentsPrice }}/MO<sup>1</sup>
                  </div>
                </div>
				<!--         黑五活动 暂时隐藏           -->
                <div class="introduce">$0 down payment and 0% APR<sup>1</sup></div>
                
                {%- if block.settings.button_1_text != blank or block.settings.button_2_text != blank -%}
              <div class="SectionHeader__ButtonWrapper">
                <div class="ButtonGroup ButtonGroup--spacingSmall {% if has_two_buttons %}ButtonGroup--sameSize{% endif %}">
                  {%- if block.settings.button_1_text != blank -%}
                    <a href="{{ block.settings.button_1_link }}" id="gtm-homePaymentPlan-xBikeButton-{{ block.settings.button_1_text | escape }}" class="ButtonGroup__Item Button">{{ block.settings.button_1_text | escape }}</a>
                  {%- endif -%}

                  {%- if block.settings.button_2_text != blank -%}
                    <a href="{{ block.settings.button_2_link }}" class="ButtonGroup__Item Button">{{ block.settings.button_2_text | escape }}</a>
                  {%- endif -%}
                </div>
                </div>
              </div>
            {%- endif -%}
            </div>
            {%- endif -%}
            
           
<!--    自定义代码 end       -->
            {{- slide_content -}}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>

    {%- if section.settings.show_arrow -%}
      <button data-href="#section-{{ section.id }}-end" class="Slideshow__ScrollButton RoundButton RoundButton--medium" aria-label="{{ 'general.accessibility.scroll_to_content' | t }}" data-animate-bottom>
        {%- render 'icon' with 'arrow-bottom' -%}
      </button>
    {%- endif -%}
  </div>

  <span id="section-{{ section.id }}-end" class="Anchor"></span>
  <script>
//    let slide = document.getElementById("Slideslide-0")
//    let video = document.createElement("video")
//    	video.setAttribute("id", "banner");
//     video.setAttribute("width", "100%");
//     video.setAttribute("height", "100%");
// //     video.setAttribute("controls", "controls");
//     video.setAttribute("style", "position: absolute;top:0;left:0;");
//     video.setAttribute("autoplay", "autoplay");
//     video.setAttribute("muted", "muted");
//     video.setAttribute("loop", "loop");
//     video.setAttribute("src", "https://freebrio.oss-cn-shanghai.aliyuncs.com/video/banner/6cb8e5d6b87149c5a7e3139f3fa59132-2a701e2bac4a98c3cc36e72be68d6727-hd.mp4");
//     slide.appendChild(video);
  </script>
</section>

<style>
  #section-{{ section.id }} .Heading,
   #section-{{ section.id }} .flickity-page-dots {
    color: {{ section.settings.text_color }};
  }

  #section-{{ section.id }} .Button {
    color: {{ section.settings.button_color }};
    border-color: {{ section.settings.button_background }};
  }

  #section-{{ section.id }} .Button::before {
    background-color: {{ section.settings.button_background }};
  }

  {%- if settings.show_button_transition -%}
    @media (-moz-touch-enabled: 0), (hover: hover) {
      #section-{{ section.id }} .Button:hover {
        color: {{ section.settings.button_background }};
      }
    }
  {%- endif -%}
</style>

{% schema %}
{
  "name": "Slideshow",
  "class": "shopify-section--slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_fullscreen",
      "label": "Show full-screen images",
      "info": "If enabled, images will be resized to fit the entire screen.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_arrow",
      "label": "Show bottom arrow",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button text",
      "default": "#363636"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 800px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be cropped."
        },
        {
          "type": "checkbox",
          "id": "apply_overlay",
          "label": "Apply overlay on image",
          "info": "This can improve text visibility.",
          "default": true
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "options": [
            {
              "value": "middleLeft",
              "label": "Middle left"
            },
            {
              "value": "middleCenter",
              "label": "Middle center"
            },
            {
              "value": "middleRight",
              "label": "Middle right"
            },
            {
              "value": "bottomLeft",
              "label": "Bottom left"
            },
            {
              "value": "bottomCenter",
              "label": "Bottom center"
            },
            {
              "value": "bottomRight",
              "label": "Bottom right"
            }
          ],
          "default": "bottomLeft"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub-heading",
          "default": "Slide title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Tell your story"
        },
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "button_1_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "button_1_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "button_2_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "button_2_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Slideshow",
      "settings": {},
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}